:root{
    --cor-primaria: rgb(43, 109, 77);
    --cor-primaria-escura: rgb(34, 86, 61);
    --fundo: rgb(241, 234, 234);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    background-color: var(--fundo);
    width: 100%;
    height: max-content;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Cabeçalho geral */
.header {
    color: white;
    display: flex;
    flex-direction: column;
}
/* Botões */
.menu-horizontal { 
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: rgb(241, 234, 234);
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}
/* Orientação dos botões */
.menu-horizontal li {
  border-radius: 5px;
  display: inline-block; /* ou float: left; */
  margin-right: 15px; /* Espaçamento entre os itens */
}
/* Formatação dos botões */
.menu-horizontal a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
}
/* Efeito hover nos botões */
.menu-horizontal a:hover {
  border-radius: 5px;
  background-color: rgb(222, 217, 217);
    cursor: pointer;
}
/* Logo */
.logo {
    cursor: pointer;
    height: 60px;
    width: auto;
    padding-left:10px;
    padding-right: 10px;
}

.foto_perfil {
    display: flex;
    width: 60px;
    padding-top: 5px;
    margin-left : 5px;
    margin-right : 10px;
    justify-content: right;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor : pointer;
}

/* Parte superior do cabeçalho */
.header-top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--cor-primaria);
    margin-bottom: 10px
}
/* Parte inferior do cabeçalho */
.header-bottom {
    text-align: center;
    justify-content: center;
}
/* Botão de contato */
.contato {
  background-color: var(--cor-primaria);
}
/* Texto do botão contato */
.contato a {
  color: white;
}
/* Efeito hover do botão contato */
.contato a:hover {
  background-color: rgb(34, 86, 61);
  cursor: pointer;
}
.container {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 700px;
    margin-left: 50px;
    box-shadow: 0 8px 6px -6px black;
}
.gender-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 400px;
    margin-left: 50px;
    box-shadow: 0 8px 6px -6px black;
} 
#chart {
  width: 600px;
}